.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__wrapper {
    width: 450px !important;
  }
  &__input {
    width: 100%;
    padding: 23px;
    margin-bottom: 16px;
    color: #fff;
    background-color: #0056dd;
    border: none;
    border-radius: 16px;
    font-weight: 500;
    outline: none;
    box-sizing: border-box;
    font-family: Helvetica, Helvetica, serif;
    &::placeholder {
      color: rgba(255, 255, 255, 0.5);
      font-size: 18px;
    }
  }
  &__button {
    background-color: #142333;
    padding: 18px 80px 18px;
    display: inline-block;
    border-radius: 32px;
    font-family: Circe;
    font-weight: 700;
    color: #fff;
    border: none;
    text-transform: uppercase;
    transition: box-shadow 0.1s ease-in-out;
    cursor: pointer;
    font-size: 18px;
    width: 207px;
  }
}
.textarea {
  min-height: 120px;
  resize: none;
  margin-bottom: 20px;
}
